{% extends 'main/base.html' %} {% load static %} {% block head %} {% endblock %}
{% block title %} {% endblock %} {% block content %}

<div style="height:60%" class="d-flex flex-column align-items-center justify-content-center w-100 ">
    <div class="text-center py-3">
        <h3 class="text-primary m-0">Contact Us</h3>
        <h1 class="fw-bolder">We are here to help!</h1>
    </div>
    <div class="d-flex justify-content-center gap-3 w-100">
      <div class="w-25 border border-1 rounded rounded-3 d-flex align-items-center justify-content-center py-5 shadow flex-column text-white" style="background:#1d3b53">
        <h3 class="fw-bolder">Contact Address</h3>
        <p class="m-0">🏠 2492 Centennial NW, Acworth, GA, 30102</p>
        
      </div>
      <div class="w-25 border border-1 rounded rounded-3 d-flex align-items-center justify-content-center py-5 shadow flex-column text-white" style="background:#1d3b53">
        <h3 class="fw-bolder">Contact Mail</h3>
        <p class="m-0">📩 example@email.com</p>
      </div>
      <div class="w-25 border border-1 rounded rounded-3 d-flex align-items-center justify-content-center py-5 shadow flex-column text-white" style="background:#1d3b53">
        <h3 class="fw-bolder">Contact Phone</h3>
        <p class="m-0">📞 +896-789-546</p>
      </div>
    </div>
</div>

{% endblock %}
