{% extends 'main/base.html' %} {% block head %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="../../static/website/css/courseviewpage.css" />
<link rel="shortcut icon" href="icon/logo.png" type="image/x-icon" />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
  rel="stylesheet"
/>
<link
  href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
  rel="stylesheet"
/>

<script
  src="https://kit.fontawesome.com/89c0957ca7.js"
  crossorigin="anonymous"
></script>
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
  crossorigin="anonymous"
/>
<script
  src="https://kit.fontawesome.com/0ffcc1f717.js"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
  crossorigin="anonymous"
></script>
{% endblock %} {% block title %} {% endblock %} {% block content %}

<main class="container">
  <section class="video-and-comments">
    {% for module in course.module_set.all %}
    <section>
      <div class="card">
        <div class="card-header">{{ module.name }}</div>

        {% block coursecontent %} 

        <p>
          Google App Engine (often referred to as GAE or simply App Engine) is a cloud computing platform as a service for developing and hosting web applications in Google-managed data centers. Applications are sandboxed and run across multiple servers.[2] App Engine offers automatic scaling for web applications—as the number of requests increases for an application, App Engine automatically allocates more resources for the web application to handle the additional demand.[3]

Google App Engine primarily supports Go, PHP, Java, Python, Node.js, .NET, and Ruby applications, although it can also support other languages via "custom runtimes".[4] The service is free up to a certain level of consumed resources and only in standard environment but not in flexible environment. Fees are charged for additional storage, bandwidth, or instance hours required by the application.[5] It was first released as a preview version in April 2008 and came out of preview in September 2011.
        </p>
        {% endblock %}

      </div>
      <hr />
    </section>
    {% endfor %}
    <section>
      <br />
      {% comment %} <a class="btn btn-secondary my-3" href="#" role="button">Notes</a>
      <a class="btn btn-secondary my-3" href="#" role="button">Community Doubts</a> {% endcomment %}

      <div class="card">
        <ul class="list-group list-group-flush">
          {% for comment in course.comment_set.all %}
          <li class="list-group-item my-3">
            <i class="fas fa-user-astronaut fa-lg"></i>
            <span class="comment-name">{{ comment.user }}</span>
            <p class="comment-text">{{ comment.description|safe }}</p>
            <p class="view-replies"><i class="fas fa-arrow-down"></i> Reply</p>
            <ul>
              {% for subcomment in comment.subcomment_set.all %}
              <li class="list-group-item my-3">
                <i class="fas fa-user-astronaut fa-lg"></i>
                <span class="comment-name">{{ subcomment.user }}</span>
                <p class="comment-text">{{ subcomment.description|safe }}</p>
                <p class="view-replies"><i class="fas fa-arrow-down"></i> Reply</p>
              </li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
      </div>

      <br /><br />
    </section>
  </section>

  <aside>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ course.name }}</h4>
        <ul class="list-group list-group-flush">
          {% for module in course.module_set.all %}
          <li class="list-group-item">
            <h4 class="card-title">{{ module.name }}</h4>
            <h5 class="card-subtitle mb-2 text-muted">Videos</h5>
            {% for video in module.video_set.all %}
            <a href="{% url 'courseviewpagevideo' course_id=course.id video_id=video.id %}">{{ video.name }}</a>
            <br />
            {% endfor %}
            
            <h5 class="card-subtitle mb-2 text-muted">Notes</h5>
            {% for note in module.notes_set.all %}
            <a href="{% url 'courseviewpagenote' course_id=course.id note_id=note.id %}">note</a>
            <br />
          {% endfor %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </aside>
  
</main>



{% endblock %}
