{% extends 'main/base.html' %}

    {% block head %}
    
    {% endblock %}


    {% block title %}
    
    {% endblock %}

    {% block content %}


    <div class="container">
        <h2>Create a New Course</h2>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name">
          </div>
          <div class="form-group">
            <label for="organisation">Organisation:</label>
            <select class="form-control" id="organisation" name="organisation">
              {% for org in organisations %}
                <option value="{{ org.id }}">{{ org.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="teacher">Teacher(s):</label>
            <select class="form-control" id="teacher" name="teacher" multiple>
              {% for teacher in teachers %}
                <option value="{{ teacher.id }}">{{ teacher.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="students">Student(s):</label>
            <select class="form-control" id="students" name="students" multiple>
              {% for student in students %}
                <option value="{{ student.id }}">{{ student.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="tags">Tags:</label>
            <select class="form-control" id="tags" name="tags" multiple>
              {% for tag in tags %}
                <option value="{{ tag.id }}">{{ tag.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="image_course">Image:</label>
            <input type="file" class="form-control-file" id="image_course" name="image_course">
          </div>
          <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" class="form-control" id="price" name="price">
          </div>
          <div class="form-group">
            <label for="small_description">Small Description:</label>
            <textarea class="form-control" id="small_description" name="small_description" rows="2"></textarea>
          </div>
          <div class="form-group">
            <label for="learned">What you will learn:</label>
            <textarea class="form-control" id="learned" name="learned" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    
    {% endblock %}
