{% extends 'main/base.html' %}

    {% block head %}
    
    {% endblock %}


    {% block title %}
    
    {% endblock %}

    {% block content %}
    <div class="container">
        <h1>Add Module</h1>
        <hr>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="module_name">Module Name:</label>
                <input type="text" class="form-control" id="module_name" name="module_name" required>
            </div>
            <div class="form-group">
                <label for="video">Videos:</label>
                <input type="file" class="form-control-file" id="video" name="video" accept="video/*" multiple required>
            </div>
            <div class="form-group">
                <label for="note">Notes:</label>
                <textarea class="form-control" id="note" name="note" rows="3" id="notes"></textarea>
            </div>
            <div class="form-group">
                <label for="notes">Add Notes:</label>
                <button type="button" class="btn btn-success" onclick="addNote()">+</button>
                <div id="notes">
                    <div class="note-input">
                        <textarea class="form-control" name="notes[]" rows="3" id="note"></textarea>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Add Module</button>
        </form>
    </div>
    <script>
    function addNote() {
        var notesDiv = document.getElementById("notes");
        var noteInput = document.createElement("div");
        noteInput.classList.add("note-input");
        noteInput.innerHTML = `
            <textarea class="form-control" name="notes[]" rows="3"></textarea>
            <button type="button" class="btn btn-danger" onclick="removeNote(this)">-</button>
        `;
        notesDiv.appendChild(noteInput);
    }
    
    function removeNote(btn) {
        var noteInput = btn.parentNode;
        noteInput.remove();
    }


    try {
        CKEDITOR.replace("notes");
      } catch (error) {
        console.log(error);
      }
      try {
          CKEDITOR.replace("note");
        } catch (error) {
          console.log(error);
        }
    </script>


    {% endblock %}
