{% extends 'main/base.html' %} {% block head %} {% endblock %} {% block title %}
{% endblock %} {% block content %}
<div class="container">
    <h1>Add Module</h1>
    <hr>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="module_name">Module Name:</label>
            <input type="text" class="form-control" id="module_name" name="module_name" required>
        </div>
        <div class="form-group">
            <label for="video">Videos:</label>
            <input type="file" class="form-control-file" id="video" name="video" accept="video/*" multiple required>
        </div>
        <div class="form-group">
            <label for="additional_notes">Additional Notes:</label>
            <textarea class="form-control" id="additional_notes" name="notes[]" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="video_names">Video Names:</label>
            <button type="button" class="btn btn-success" onclick="addVideoName()">+</button>
            <div id="video_names">
                <div class="video-name-input">
                    <input type="text" class="form-control" name="video_names[]" required>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add Module</button>
    </form>
</div>
<script>
  function addNote() {
    var notesDiv = document.getElementById("additional_notes");
    var noteInput = document.createElement("div");
    noteInput.classList.add("note-input");
    noteInput.innerHTML = `
        <textarea class="form-control border-dark" name="notes[]" rows="3"></textarea>
        <button type="button" class="btn btn-danger" onclick="removeNote(this)">-</button>
    `;
    notesDiv.appendChild(noteInput);

    try {
      CKEDITOR.replace(notesDiv.lastChild.firstChild);
    } catch (error) {
      console.log(error);
    }
  }

  function removeNote(btn) {
    var noteInput = btn.parentNode;
    noteInput.remove();
  }

  function addVideoName() {
    var videoNamesDiv = document.getElementById("video_names");
    var videoNameInput = document.createElement("div");
    videoNameInput.classList.add("video-name-input");
    videoNameInput.innerHTML = `
        <input type="text" class="form-control border-dark my-1" name="video_names[]" required>
        <button type="button" class="btn btn-danger my-2" onclick="removeVideoName(this)">-</button>
    `;
    videoNamesDiv.appendChild(videoNameInput);
  }

  function removeVideoName(btn) {
    var videoNameInput = btn.parentNode;
    videoNameInput.remove();
  }

  try {
    CKEDITOR.replace("additional_notes");
  } catch (error) {
    console.log(error);
  }
</script>
{% endblock %}
