{% extends 'main/base.html' %} {% load static %} {% block head %} 
<link rel="stylesheet" href="../../static/website/css/dashboard.css">
{% endblock %}
{% block title %} {% endblock %} {% block content %}

<div>
  <div class="w-100 d-flex px-5 gap-3 py-5" style="background-color: #1d3b53">
    <div class="rounded rounded-circle">
      <img
        src="{% static '/user/images/profile.png'%}"
        height="150px"
        width="150px"
        class="rounded rounded-circle"
      />
    </div>
    <div class="pt-1">
      <h1 class="text-white m-0">{{ profile.name }}</h1>
      <h6 class="text-white text-uppercase">{{ student.department }} </h6>
      <h6 class="text-white">{{profile.email}} | {{profile.phone}}</h6>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row mt-4 px-3">
    <div class="col-md-3">
      <div class="card mb-2 bg-dark text-white">
        <div class="card-header border-white">
          <h3 class="text-primary">Profile</h3>
        </div>
        <div class="card-body">
          <ul class="list-unstyled">
            <li>
              <a
                class="text-white text-decoration-none d-block w-100"
                href="{% url 'profile_detail' profile_id=request.user.profile.id %}"
                >Profile</a
              >
            </li>
            <li>
              <a
                class="text-white text-decoration-none"
                href="{% url 'update_profile' %}"
                >Update Profile</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="card bg-dark text-white mb-2">
        <div class="card-header border-white">
          <h3 class="text-primary">Courses</h3>
        </div>
        <div class="card-body">
          <ul class="list-unstyled">
            {% if profile.status == 'Student' %}
            <li>
              <a class="text-white text-decoration-none" href="#">My Courses</a>
            </li>
            {% elif profile.status == 'Teacher' %}
            <li>
              <a
                class="text-white text-decoration-none"
                href="{% url 'create_course' %}"
                >Create Courses</a
              >
            </li>
            <li>
              <a
                class="text-white text-decoration-none"
                href="{% url 'course' %}"
                >Mine Courses</a
              >
            </li>
            <li>
              <a
                class="text-white text-decoration-none"
                href="{% url 'analytic' %}"
                >Analytics</a
              >
            </li>
            <li>
              <a class="text-white text-decoration-none" href="#"
                >Select Teachers</a
              >
            </li>
            <li>
              <a class="text-white text-decoration-none" href="#"
                >Course Progress</a
              >
            </li>
            {% elif profile.status == 'Organization' %}
            <li>
              <a
                class="text-white text-decoration-none"
                href="{% url 'make_teacher' %}"
                >Assign Teacher</a
              >
            </li>
            <li>
              <a
                class="text-white text-decoration-none"
                href="{% url 'teacher_list' %}"
                >Teacher List</a
              >
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      {% if profile.status == 'Student' %}
      <div class="card">
        <div class="card-header">
          <h2>My Courses List</h2>
        </div>
        <div class="card-body">
          <div
            class="rounded rounded-2 p-2 d-flex justify-content-between align-items-center mb-3"
            style="
              box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
                rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
            "
          >
            <div class="d-flex gap-2">
              <img src="{% static '/images/course/01.jpg' %}" width="100px" />
              <div class="d-flex align-items-center">
                <h3>Javascript Advance</h3>
              </div>
            </div>
            <div class="w-25">
              <h6 class="text-danger">Progress</h6>
              <div class="progress" style="height: 5px">
                <div
                  class="progress-bar bg-danger"
                  role="progressbar"
                  style="width: 50%; height: 5px"
                  aria-valuenow="50"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <div class="d-flex justify-content-end">
                <p class="m-0 text-danger">50%</p>
              </div>
            </div>
            <div class="mx-5">
              <button class="btn btn-outline-primary">
                <i class="fa-solid fa-circle-play"></i> Continue
              </button>
            </div>
          </div>

          <div
            class="rounded rounded-2 p-2 d-flex justify-content-between align-items-center"
            style="
              box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
                rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
            "
          >
            <div class="d-flex gap-2">
              <img src="{% static '/images/course/02.jpg' %}" width="100px" />
              <div class="d-flex align-items-center">
                <h3>Photoshop Advance</h3>
              </div>
            </div>
            <div class="w-25">
              <h6 class="text-success">Progress</h6>
              <div class="progress" style="height: 5px">
                <div
                  class="progress-bar bg-success"
                  role="progressbar"
                  style="width: 100%; height: 5px"
                  aria-valuenow="100"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <div class="d-flex justify-content-end">
                <p class="m-0 text-success">100%</p>
              </div>
            </div>
            <div class="mx-5">
              <button class="btn btn-success">
                <i class="fa-solid fa-check"></i> Complete
              </button>
              <button class="btn btn-outline-danger">
                <i class="fa-solid fa-arrow-rotate-right"></i> Restart
              </button>
            </div>
          </div>
        </div>
      </div>
      {% elif profile.status == 'Teacher' %}
      <div class="home-content">
        <div class="overview-boxes">
          <div class="box">
            <div class="right-side">
              <div class="box-topic">Total Content</div>
              <div class="number">402 Hours</div>
              <div class="indicator">
                <i class='bx bx-up-arrow-alt'></i>
                <span class="text">Up from yesterday</span>
              </div>
            </div>
            <i class='bx bx-cart-alt cart'></i>
          </div>
          <div class="box">
            <div class="right-side">
              <div class="box-topic">Total time Spent</div>
              <div class="number">38 mins</div>
              <div class="indicator">
                <i class='bx bx-up-arrow-alt'></i>
                <span class="text">Up from yesterday</span>
              </div>
            </div>
            <i class='bx bxs-cart-add cart two' ></i>
          </div>
          <div class="box">
            <div class="right-side">
              <div class="box-topic">Number Of Doubts resolved</div>
              <div class="number">10</div>
              <div class="indicator">
                <i class='bx bx-up-arrow-alt'></i>
                <span class="text">Up from yesterday</span>
              </div>
            </div>
            <i class='bx bx-cart cart three' ></i>
          </div>
          <div class="box">
            <div class="right-side">
              <div class="box-topic">Number of Doubts raised</div>
              <div class="number">17</div>
              <div class="indicator">
                <i class='bx bx-down-arrow-alt down'></i>
                <span class="text">Down From Today</span>
              </div>
            </div>
            <i class='bx bxs-cart-download cart four' ></i>
          </div>
        </div>
  
        <div class="sales-boxes">
          <div class="recent-sales box">
            <div class="title">Recent Doubts Raised</div>
            <div class="sales-details">
              <ul class="details">
                {% comment %} <li class="topic">Date</li>
                <li><a href="#">22 Aug 2022</a></li>
                <li><a href="#">22 Aug 2022</a></li>
                <li><a href="#">22 Aug 2022</a></li>
                <li><a href="#">22 Aug 20221</a></li>
                <li><a href="#">22 Aug 2022</a></li>
                <li><a href="#">22 Aug 2022</a></li>
                <li><a href="#">22 Aug 2022</a></li>
              </ul>
              <ul class="details">
              <li class="topic">Students</li>
              <li><a href="#">Alex Doe</a></li>
              <li><a href="#">David Mart</a></li>
              <li><a href="#">Roe Parter</a></li>
              <li><a href="#">Diana Penty</a></li>
              <li><a href="#">Martin Paw</a></li>
              <li><a href="#">Doe Alex</a></li>
              <li><a href="#">Aiana Lexa</a></li>
              <!-- <li><a href="#"></a></li> -->
               <!-- <li><a href="#">Tiana Loths</a></li> -->
            </ul>
            <ul class="details">
              <li class="topic">Status</li>
              <li><a href="#">Delivered</a></li>
              <li><a href="#">Pending</a></li>
              <li><a href="#">Pending</a></li>
              <li><a href="#">Delivered</a></li>
              <li><a href="#">Pending</a></li>
              <li><a href="#">Delivered</a></li>
              <li><a href="#">Delivered</a></li>
               <!-- <li><a href="#">Pending</a></li>
              <li><a href="#">Delivered</a></li> -->
            </ul>
            <ul class="details">
              <li class="topic">Wait Time</li>
              <li><a href="#">204.98 mins</a></li>
              <li><a href="#">24.55 mins</a></li>
              <li><a href="#">25.88 mins</a></li>
              <li><a href="#">170.66 mins</a></li>
              <li><a href="#">56.56 mins</a></li>
              <li><a href="#">44.95 mins</a></li>
              <li><a href="#">67.33 mins</a></li>
               <!-- <li><a href="#">$23.53 mins</a></li> -->
               <!-- <li><a href="#">$46.52 mins</a></li> -->
            </ul>
            </div> {% endcomment %}
            {% comment %} <div class="button">
              <a href="#">See All</a>
            </div>
          </div>
          <div class="top-sales box">
            <div class="title">Most Interactive Students</div>
            <ul class="top-sales-details">
              <li>
              <a href="#">
                <!--<img src="images/sunglasses.jpg" alt="">-->
                <span class="product">ABC</span>
              </a>
              <span class="price">1107 mins</span>
            </li>
            <li>
              <a href="#">
                 <!--<img src="images/jeans.jpg" alt="">-->
                <span class="product">acd </span>
              </a>
              <span class="price">1567 mins</span>
            </li>
            <li>
              <a href="#">
               <!-- <img src="images/nike.jpg" alt="">-->
                <span class="product">dhg</span>
              </a>
              <span class="price">1234 mins</span>
            </li>
            <li>
              <a href="#">
                <!--<img src="images/scarves.jpg" alt="">-->
                <span class="product">Hermes</span>
              </a>
              <span class="price">2312 mins</span>
            </li>
            <li>
              <a href="#">
                <!--<img src="images/blueBag.jpg" alt="">-->
                <span class="product">S</span>
              </a>
              <span class="price">1456 mins</span>
            </li>
            <li>
              <a href="#">
                <!--<img src="images/bag.jpg" alt="">-->
                <span class="product">Guc</span>
              </a>
              <span class="price">2345 mins</span>
            <li>
              <a href="#">
                <!--<img src="images/addidas.jpg" alt="">-->
                <span class="product">Add</span>
              </a>
              <span class="price">2345 mins</span>
            </li>
  <li>
              <a href="#">
               <!--<img src="images/shirt.jpg" alt="">-->
                <span class="product">Bilact</span>
              </a>
              <span class="price">1245 mins</span>
            </li>
            </ul>
          </div>
        </div>
      </div> {% endcomment %}

      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
