{% extends 'main/base.html' %} {% load static %} {% block head %} {% endblock %}
{% block title %} PILOT {% endblock %} {% block content %}
<main class="d-flex align-items-center justify-content-end pt-1">
  <div
    class="w-50 d-flex flex-column align-items-center justify-content-end px-3"
  >
    <h1 class="w-75 text-end fw-bolder">
      GROW YOUR
      <span class="text-danger" style="font-size: 2em">SKILL</span> <br />
      LEARN FROM <span class="text-danger">PILOT</span>
    </h1>
    <form class="d-flex flex-column w-75 justify-content-end align-items-end">
      <input
        type="text"
        class="p-2 rounded rounded-2 mb-2 w-100 py-3 px-3 border border-2 border-secondary"
        placeholder="Search for Course"
      />
      <div class="d-flex justify-content-end gap-2">
        <button
          class="btn btn-success fs-5 rounded rounded-pill py-0 px-3"
          style="width: fit-content"
        >
          <i class="fa-solid fa-play"></i> Watch Intro
        </button>
        <button
          class="btn btn-outline-danger fs-5 rounded rounded-pill"
          style="width: fit-content"
        >
          Search Course
        </button>
      </div>
    </form>
  </div>
  <div class="w-50">
    <img src="{% static '/main/images/home.jpg' %}" alt="image" class="w-75" />
  </div>
</main>

<section class="p-5 pt-2 d-flex gap-5 justify-content-center flex-wrap">
  <div
    class="d-flex justify-content-center gap-3 align-items-center p-3 rounded-3"
    style="width: 280px; background-color: #fef6e0"
  >
    <i class="fa-solid fa-laptop fs-1" style="color: #f7c32e"></i>
    <div class="">
      <h3 class="m-0">10K+</h3>
      <h4 class="m-0">Online Courses</h4>
    </div>
  </div>
  <div
    class="d-flex justify-content-center gap-3 align-items-center p-3 rounded-3"
    style="width: 280px; background-color: #e8ebed"
  >
    <i class="fa-solid fa-user fs-1" style="color: #1d3b53"></i>
    <div class="">
      <h3 class="m-0">200+</h3>
      <h4 class="m-0">Expert Tutors</h4>
    </div>
  </div>
  <div
    class="d-flex justify-content-center gap-3 align-items-center p-3 rounded-3"
    style="width: 280px; background-color: #f0ecf9"
  >
    <i class="fas fa-user-graduate fs-1" style="color: #6f42c1"></i>
    <div class="">
      <h3 class="m-0">6K+</h3>
      <h4 class="m-0">Students</h4>
    </div>
  </div>
  <div
    class="d-flex justify-content-center gap-3 align-items-center p-3 rounded-3"
    style="width: 280px; background-color: #e7f6f8"
  >
    <i class="fa-solid fa-circle-check fs-1" style="color: #17a2b8"></i>
    <div class="">
      <h3 class="m-0">5K+</h3>
      <h4 class="m-0">Certified Courses</h4>
    </div>
  </div>
</section>

<section class="p-5 mb-4">
  <!-- Nav tabs -->
  <div class="mb-3 d-flex justify-content-between">
    <h1 class="fw-bolder">Popular <span class="text-danger">Courses</span></h1>

    <a
      class="btn px-4 text-white d-flex align-items-center justify-content-center py-0 fw-bold"
      style="background-color: #1d3b53"
      href="/allcourses"
      >Explore All</a
    >
  </div>



  
  
  
  
 

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    {% for course in courses %}
    <div class="carousel-inner">
      <a href="{% url 'course_detail' course_id=course.id %}">
      
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <div class="d-flex gap-3 flex-wrap justify-content-around">
          <div class="card border-0 shadow" style="width: 18rem">
            {% if course.image_course.url %}
            <img src="{{ course.image_course.url }}" class="card-img-top" width="100%" height="180px" alt="...">
            {% else %}
            <img
              src="{% static '/images/course/02.jpg' %}"
              class="card-img-top"
              width="100%"
              height="180px"
              alt="..."
            />
            {% endif %}
  
            <div class="card-body">
              <div class="d-flex justify-content-between mb-2">
                {% if course.tags.all %}
                {% for tag in course.tags.all %}
                <span class="badge bg-success bg-gradient">{{ tag.name }}</span>
                {% endfor %}
                {% endif %}
              </div>
              <h5 class="card-title">{{ course.name }}</h5>
              <p class="card-text">{{ course.description|truncatewords:25|safe }}</p>
              <ul class="list-inline mb-0">
                {% for i in "x"|ljust:course.rating %}
                <li class="list-inline-item me-0 small">
                  <i class="fas fa-star text-warning"></i>
                </li>
                {% endfor %}
                {% if course.rating|floatformat %}
                <li class="list-inline-item me-0 small">
                  <i class="fas fa-star-half-alt text-warning"></i>
                </li>
                {% endif %}
                <li class="list-inline-item ms-2 h6 fw-light mb-0 fw-bold">
                  {{ course.rating }}/5.0
                </li>
              </ul>
            </div>
            <div class="card-footer pt-0 pb-3 bg-white border-0">
              <hr />
              <div class="d-flex justify-content-between mt-2">
                {% comment %} <span class="h6 mb-0"><i class="far fa-clock text-danger me-2"></i>{{ course.duration }}</span> {% endcomment %}
                <span class="h6 mb-0"><i class="far fa-clock text-danger me-2"></i>72 hours</span>
                {% comment %} <span class="h6 mb-0"><i class="fas fa-table text-primary me-2"></i>{{ course.lectures }} lectures</span> {% endcomment %}
                <span class="h6 mb-0"><i class="fas fa-table text-primary me-2"></i>9 lectures</span>
              </div>
            </div>
          </div>
        </div>
      </div>
   
    </div>
  </a>
  </div>

  {% endfor %}
  




      <div class="carousel-item">
        <div class="d-flex gap-3 flex-wrap justify-content-around">
          <div class="card border-0 shadow" style="width: 18rem">
            <img
              src="{% static '/images/course/02.jpg' %}"
              class="card-img-top"
              width="100%"
              height="180px"
              alt="..."
            />

            <div class="card-body">
              <div class="d-flex justify-content-between mb-2">
                <span class="badge bg-success bg-gradient">Beginner</span>
              </div>
              <h5 class="card-title">Graphic Design MasterClass</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk oft...
              </p>
              <ul class="list-inline mb-0">
                <li class="list-inline-item me-0 small">
                  <i class="fas fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-0 small">
                  <i class="fas fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-0 small">
                  <i class="fas fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-0 small">
                  <i class="fas fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-0 small">
                  <i class="fas fa-star-half-alt text-warning"></i>
                </li>
                <li class="list-inline-item ms-2 h6 fw-light mb-0 fw-bold">
                  4.5/5.0
                </li>
              </ul>
            </div>
            <div class="card-footer pt-0 pb-3 bg-white border-0">
              <hr />
              <div class="d-flex justify-content-between mt-2">
                <span class="h6 mb-0"
                  ><i class="far fa-clock text-danger me-2"></i>36h 30m</span
                >
                <span class="h6 mb-0"
                  ><i class="fas fa-table text-primary me-2"></i>72
                  lectures</span
                >
              </div>
            </div>
          </div>
          <div class="card border-0 shadow" style="width: 18rem">
            <img
              src="{% static '/images/course/01.jpg' %}"
              width="100%"
              height="180px"
              class="card-img-top"
              alt="..."
            />

            <div class="card-body">
              <div class="d-flex justify-content-between mb-2">
                <span class="badge bg-danger bg-gradient">Advance</span>
              </div>
              <h5 class="card-title">Graphic Design MasterClass</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk oft...
              </p>
              <ul class="list-inline mb-0">
                <li class="list-inline-item me-0 small">
                  <i class="fas fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-0 small">
                  <i class="fas fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-0 small">
                  <i class="fas fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-0 small">
                  <i class="fas fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-0 small">
                  <i class="fas fa-star-half-alt text-warning"></i>
                </li>
                <li class="list-inline-item ms-2 h6 fw-light mb-0 fw-bold">
                  4.5/5.0
                </li>
              </ul>
            </div>
            <div class="card-footer pt-0 pb-3 bg-white border-0">
              <hr />
              <div class="d-flex justify-content-between mt-2">
                <span class="h6 mb-0"
                  ><i class="far fa-clock text-danger me-2"></i>36h 30m</span
                >
                <span class="h6 mb-0"
                  ><i class="fas fa-table text-primary me-2"></i>72
                  lectures</span
                >
              </div>
            </div>
          </div>
          <div class="card border-0 shadow" style="width: 18rem">
            <img
              src="{% static '/images/course/02.jpg' %}"
              class="card-img-top"
              width="100%"
              height="180px"
              alt="..."
            />

            <div class="card-body">
              <div class="d-flex justify-content-between mb-2">
                <span class="badge bg-success bg-gradient">Beginner</span>
              </div>
              <h5 class="card-title">Graphic Design MasterClass</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk oft...
              </p>
              <ul class="list-inline mb-0">
                <li class="list-inline-item me-0 small">
                  <i class="fas fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-0 small">
                  <i class="fas fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-0 small">
                  <i class="fas fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-0 small">
                  <i class="fas fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-0 small">
                  <i class="fas fa-star-half-alt text-warning"></i>
                </li>
                <li class="list-inline-item ms-2 h6 fw-light mb-0 fw-bold">
                  4.5/5.0
                </li>
              </ul>
            </div>
            <div class="card-footer pt-0 pb-3 bg-white border-0">
              <hr />
              <div class="d-flex justify-content-between mt-2">
                <span class="h6 mb-0"
                  ><i class="far fa-clock text-danger me-2"></i>36h 30m</span
                >
                <span class="h6 mb-0"
                  ><i class="fas fa-table text-primary me-2"></i>72
                  lectures</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
      style="opacity: 1; width: 5%"
    >
      <span class="text-danger fs-1 fw-bold"
        ><i class="fa-solid fa-chevron-left"></i
      ></span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
      style="opacity: 1; width: 5%"
    >
      <span class="text-danger fs-1 fw-bold"
        ><i class="fa-solid fa-chevron-right"></i
      ></span>
    </button>
  </div>
</section>

<section
  class="w-75 m-auto d-flex justify-content-between rounded rounded-3 p-4 align-items-center mb-4"
  style="background-color: #17a2b8"
>
  <div class="w-75">
    <h1 class="text-white fw-bolder">Become an Instructor!</h1>
    <p class="text-white m-0">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. At ipsa et odit
      excepturi voluptatibus, eaque ad eum facilis id repellat? Temporibus
      voluptatibus perspiciatis odio itaque error omnis, necessitatibus aut
      vitae.
    </p>
  </div>
  <div>
    <button class="btn btn-danger">Start Teaching Today</button>
  </div>
</section>
{% endblock %}
