{% extends 'main/base.html' %} {% block head %} {% endblock %} {% block title %}
{% endblock %} {% block content %}

<div class="container my-5" style="height: 60vh">
  <div class="row justify-content-center">
    <div class="col-md-6 bg-danger"></div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h4>Login</h4>
        </div>
        <div class="card-body">
          {% if messages %} {% for message in messages %}
          <div class="alert alert-danger">{{ message }}</div>
          {% endfor %} {% endif %}
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" name="email" required />
            </div>
            <div class="form-group">
              <label>Password</label>
              <input
                type="password"
                class="form-control"
                name="password"
                required
                oninput="checkPassword(this)"
              />
              <small id="passwordHelp" class="form-text text-muted"
                >Password must contain at least 8 characters, including at least
                one uppercase letter, one lowercase letter, and one
                number.</small
              >
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function checkPassword(input) {
    var password = input.value;
    var regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/;
    var isValid = regex.test(password);

    if (isValid) {
      input.setCustomValidity("");
    } else {
      input.setCustomValidity(
        "Password must contain at least 8 characters, including at least one uppercase letter, one lowercase letter, and one number."
      );
    }
  }
</script>

{% endblock %}
