{% extends 'main/base.html' %} {% load socialaccount %} {% load static %} {% block head %}
<link rel="stylesheet" href="../../static/user/css/login.css" />
{% endblock %} {% block title %} {% endblock %} {% block content %}

<div class="container my-5" style="height: 60vh">
  <div class="row justify-content-center h-100 align-items-center">
    <div class="col-md-6 w-50 h-100">
      <img src="{% static '/user/images/login.jpg' %}" width="100%" height="100%" alt="login" />
    </div>
    <div class="col-md-6 form">
      <div class="card">
        <div class="card-header text-center">
          <h4 class="text-danger fw-bolder">Login</h4>
        </div>
        <div class="card-body">
          {% if messages %} {% for message in messages %}
          <div class="alert alert-danger">{{ message }}</div>
          {% endfor %} {% endif %}
          <form method="post">
            {% csrf_token %}
            <div class="form-group" style="text-align: left">
              <label class="text-danger px-2">Email*</label>
              <input type="email" class="form-control" name="email" required />
            </div>
            <div class="form-group" style="text-align: left">
              <label class="text-danger px-2">Password*</label>
              <input
                type="password"
                class="form-control"
                name="password"
                required
                oninput="checkPassword(this)"
              />
              <small id="passwordHelp" class="form-text text-muted">
                Password must contain at least 8 characters, including at least one uppercase letter, one lowercase letter, and one number.
              </small>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-danger btn-block">Login</button>
            </div>
          </form>
          <div class="text-center">
            <hr class="my-4" />
            <p class="text-muted">Or log in with:</p>
            <a href="{% provider_login_url 'github' %}" class="btn btn-secondary btn-icon" role="button">
              <i class="fab fa-github"></i>
              GitHub
            </a>
            <a href="{% provider_login_url 'google' %}" class="btn btn-danger btn-icon" role="button">
              <i class="fab fa-google"></i>
              Google
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% comment %}
<div class="form">
  <p>Login</p>
  <form>
    <input type="text" class="my-5" name="username" placeholder="username" />
    <input type="password" name="password" placeholder="password" />
    <button>login</button>
    <p class="message">Not registered? <a href="#">Create an account</a></p>
  </form>
</div>
{% endcomment %}
