{% extends 'main/base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="../../static/user/css/login.css" />

{% endblock %} {% block title %} {% endblock %} {% block content %}
<div class="mx-5 mb-5">
  {% if msg %}
  <div class="alert alert-danger" role="alert">{{ msg }}</div>
  {% endif %}
  <div class="d-flex justify-content-between gap-2 align-items-center my-5">
    <div class="h-75 w-50 d-flex justify-content-center">
      <img
        src="{% static '/user/images/register.jpg' %}"
        width="80%"
        height="80%"
        alt="login"
      />
    </div>
    <div
      class="card w-50 my-0"
      style="
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2),
          0 5px 5px 0 rgba(0, 0, 0, 0.24);
      "
    >
      <h2 class="card-header text-danger">Sign Up</h2>
      <div class="card-body">
        <form method="POST" action="{% url 'register' %}">
          {% csrf_token %}
          <div class="form-group mb-1">
            <label for="name" class="form-label text-danger">Full Name*</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              required
            />
          </div>
          <div class="mb-1">
            <label for="email" class="form-label text-danger"
              >Email address*</label
            >
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              aria-describedby="emailHelp"
              required
            />
            <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div>
          </div>
          <div class="mb-1">
            <label for="phone" class="form-label text-danger"
              >Phone Number*</label
            >
            <input
              type="tel"
              class="form-control"
              id="phone"
              name="phone"
              pattern="[0-9]{10}"
              maxlength="10"
              required
            />
          </div>
          <div class="mb-1">
            <label for="password" class="form-label text-danger"
              >Password*</label
            >
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              required
            />
            <div class="form-text">
              Password must contain at least 8 characters, including uppercase,
              lowercase, and numbers.
            </div>
          </div>
          <div class="mb-2">
            <label for="confirmpassword" class="form-label text-danger"
              >Confirm Password*</label
            >
            <input
              type="password"
              class="form-control"
              id="confirmpassword"
              name="confirmpassword"
              required
            />
          </div>
          <button type="submit" class="btn btn-danger mb-2">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  var password = document.getElementById("password");
  var confirmPassword = document.getElementById("confirm-password");

  function validatePassword() {
    var pattern = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$/;
    if (pattern.test(password.value)) {
      password.setCustomValidity("");
      return true;
    } else {
      password.setCustomValidity(
        "Password must contain at least 8 characters, including at least 1 lowercase letter, 1 uppercase letter, and 1 number."
      );
      return false;
    }
  }

  function validateConfirmPassword() {
    if (password.value == confirmPassword.value) {
      confirmPassword.setCustomValidity("");
      return true;
    } else {
      confirmPassword.setCustomValidity("Passwords do not match.");
      return false;
    }
  }

  password.onkeyup = validatePassword;
  confirmPassword.onkeyup = validateConfirmPassword;
</script>
{% endblock %}
